
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #002D72;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: large;
}
header h1 a{
    color: #FFC559;
    font-family: sans-serif;
    font-style: oblique;
    text-decoration: none;
}

main{
    width: 100%;
    margin: 0 auto;
}

.menu{
    transition: transform 0.3s;
    margin-top: 30px;
    margin-bottom: 20px;
}

.current{
    color:#FFC559
}

.menu ul :hover {
    transform: scale(1.2);
    text-decoration: none;
}

nav ul li{
    display: inline;
    margin: 30px 43px;
    font-size: 0.9em;
    font-weight: bold;
    transition: transform 0.3s;
    text-decoration: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    padding: 3px 6px;
}


.signIn{
    margin-left:auto;
    background-color: #3187c9;
    color: white;
    border: none;
    font-size: 0.8em;
    border-radius: 6px;
    padding: 0.3em;
}

button:hover{
    background-color: #277BBB;
    color: white;
}

h1 {
    font-size: 2.3em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.section {
    margin-top: 40px;
}

.carTypes {
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
}

.box p {
    font-size: 0.9em;
    color: #333;
}

.carCard {
    display: flex; 
    background: #eaeaea;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 8px;
}
  
.carCard img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 20px;
}
  
.car-info {
    flex: 1;
    text-align: left;
}
  
.car-info h3 {
    margin: 0 0 10px;
}
  
.car-info p {
    margin: 4px 0;
    font-size: 0.9em;
    color: #333;
}
  
.car-info button {
    margin-top: 10px;
    background-color: #3187c9;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.car-info button:hover {
    background-color: #277BBB;
}
  